# 保存与加载

In [1]:
import pandas as pd
import numpy as np

## 与dict转换

In [2]:
"""
使用指定data,index,columns的方式创建dataframe
下面使用了ord和chr来遍历字母表
"""
index = [chr(i) for i in range(ord('a'), ord('a') + 8)]
columns = ['duration', 'playtime', 'up', 'favorite', 'comment', 'share']
df = pd.DataFrame(np.random.randint(1, 100, (len(index), len(columns))), index=index, columns=columns)
df.values

array([[ 1, 29, 95, 40, 30, 13],
       [58, 43, 26, 78, 70, 61],
       [41, 18, 17, 57, 45, 29],
       [14, 55, 36, 82, 75, 43],
       [25, 40, 49,  5, 49, 57],
       [48, 61, 59,  1, 45, 88],
       [73, 53, 87, 33, 46, 37],
       [12, 12, 23, 82, 94,  8]])

In [3]:
# df -> dict
data_dict = df.to_dict(orient='index')
data_dict

{'a': {'duration': 1,
  'playtime': 29,
  'up': 95,
  'favorite': 40,
  'comment': 30,
  'share': 13},
 'b': {'duration': 58,
  'playtime': 43,
  'up': 26,
  'favorite': 78,
  'comment': 70,
  'share': 61},
 'c': {'duration': 41,
  'playtime': 18,
  'up': 17,
  'favorite': 57,
  'comment': 45,
  'share': 29},
 'd': {'duration': 14,
  'playtime': 55,
  'up': 36,
  'favorite': 82,
  'comment': 75,
  'share': 43},
 'e': {'duration': 25,
  'playtime': 40,
  'up': 49,
  'favorite': 5,
  'comment': 49,
  'share': 57},
 'f': {'duration': 48,
  'playtime': 61,
  'up': 59,
  'favorite': 1,
  'comment': 45,
  'share': 88},
 'g': {'duration': 73,
  'playtime': 53,
  'up': 87,
  'favorite': 33,
  'comment': 46,
  'share': 37},
 'h': {'duration': 12,
  'playtime': 12,
  'up': 23,
  'favorite': 82,
  'comment': 94,
  'share': 8}}

In [4]:
# dict -> df
df_dict = pd.DataFrame.from_dict(data_dict, orient='index')
df_dict

   duration  playtime  up  favorite  comment  share
a         1        29  95        40       30     13
b        58        43  26        78       70     61
c        41        18  17        57       45     29
d        14        55  36        82       75     43
e        25        40  49         5       49     57
f        48        61  59         1       45     88
g        73        53  87        33       46     37
h        12        12  23        82       94      8

## csv文件

In [5]:
# 存储为csv文件
df.to_csv('sample.csv')

In [6]:
# 需要指定index_col=0
df_csv = pd.read_csv('sample.csv', index_col=0)
df_csv.values

array([[ 1, 29, 95, 40, 30, 13],
       [58, 43, 26, 78, 70, 61],
       [41, 18, 17, 57, 45, 29],
       [14, 55, 36, 82, 75, 43],
       [25, 40, 49,  5, 49, 57],
       [48, 61, 59,  1, 45, 88],
       [73, 53, 87, 33, 46, 37],
       [12, 12, 23, 82, 94,  8]])

## excel文件

In [7]:
df.to_excel('sample.xlsx')

In [8]:
# 若不指定index_col=0，会多出一行'Unnamed: 0'
df_excel = pd.read_excel('sample.xlsx')
df_excel

  Unnamed: 0  duration  playtime  up  favorite  comment  share
0          a         1        29  95        40       30     13
1          b        58        43  26        78       70     61
2          c        41        18  17        57       45     29
3          d        14        55  36        82       75     43
4          e        25        40  49         5       49     57
5          f        48        61  59         1       45     88
6          g        73        53  87        33       46     37
7          h        12        12  23        82       94      8