# 统计信息

In [1]:
import pandas as pd
import numpy as np

## 通过describe查看总体信息

In [2]:
df = pd.read_csv('sample.csv', index_col=0)
df

   duration  playtime  up  favorite  comment  share
a        99        20  37        88       59     31
b        60        11  87        47       19     20
c        69        78  50        27        8     18
d        41        74  35        57       39      9
e        92        22  42        61       22     27
f        57        17  57        27       92     26
g        10        67  19        54       42     63
h         6        67  69        42        7     69

In [3]:
df.describe()

        duration   playtime         up   favorite    comment      share
count   8.000000   8.000000   8.000000   8.000000   8.000000   8.000000
mean   54.250000  44.500000  49.500000  50.375000  36.000000  32.875000
std    34.116397  29.252595  21.367532  19.856179  28.834503  21.563445
min     6.000000  11.000000  19.000000  27.000000   7.000000   9.000000
25%    33.250000  19.250000  36.500000  38.250000  16.250000  19.500000
50%    58.500000  44.500000  46.000000  50.500000  30.500000  26.500000
75%    74.750000  68.750000  60.000000  58.000000  46.250000  39.000000
max    99.000000  78.000000  87.000000  88.000000  92.000000  69.000000

In [4]:
df['up'].describe()

count     8.000000
mean     49.500000
std      21.367532
min      19.000000
25%      36.500000
50%      46.000000
75%      60.000000
max      87.000000
Name: up, dtype: float64

## 统计函数

In [5]:
df['up'].mean() # 也有count,sum,median,min,max,std等统计函数

49.5

In [6]:
df.quantile(q=0.75) # 75%分位数

duration    74.75
playtime    68.75
up          60.00
favorite    58.00
comment     46.25
share       39.00
Name: 0.75, dtype: float64

In [7]:
df.corr() # 各列的相关系数

          duration  playtime        up  favorite   comment     share
duration  1.000000 -0.600061  0.000392  0.382174  0.179782 -0.655916
playtime -0.600061  1.000000 -0.376195 -0.270419 -0.437979  0.246065
up        0.000392 -0.376195  1.000000 -0.415328 -0.279629 -0.106192
favorite  0.382174 -0.270419 -0.415328  1.000000  0.100803  0.022480
comment   0.179782 -0.437979 -0.279629  0.100803  1.000000 -0.149113
share    -0.655916  0.246065 -0.106192  0.022480 -0.149113  1.000000

## cut和qcut

### cut是等间距分箱

In [8]:
pd.cut(df['duration'], 4, labels=None)

a     (75.75, 99.0]
b     (52.5, 75.75]
c     (52.5, 75.75]
d     (29.25, 52.5]
e     (75.75, 99.0]
f     (52.5, 75.75]
g    (5.907, 29.25]
h    (5.907, 29.25]
Name: duration, dtype: category
Categories (4, interval[float64, right]): [(5.907, 29.25] < (29.25, 52.5] < (52.5, 75.75] < (75.75, 99.0]]

### qcut是按分位数分箱

In [9]:
df['duration_section'] = pd.qcut(df['duration'], 3, labels=False) # 将duration分箱，构成新的一列
df

   duration  playtime  up  favorite  comment  share  duration_section
a        99        20  37        88       59     31                 2
b        60        11  87        47       19     20                 1
c        69        78  50        27        8     18                 2
d        41        74  35        57       39      9                 0
e        92        22  42        61       22     27                 2
f        57        17  57        27       92     26                 1
g        10        67  19        54       42     63                 0
h         6        67  69        42        7     69                 0