# 合并操作

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame(np.random.randint(0, 10, (2, 3)), index=np.arange(2), columns=['a', 'b', 'c'])
df2 = pd.DataFrame(np.random.randint(5, 15, (3, 3)), index=np.arange(4, 7), columns=['a', 'b', 'c'])

In [3]:
pd.concat([df1, df2]) # concat合并

    a   b   c
0   1   5   4
1   1   0   8
4   6   9  11
5   6   8  14
6  13  13  14

In [4]:
df1.append(df2) # append合并

<ipython-input-4-37afab19b6af>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2) # append合并

    a   b   c
0   1   5   4
1   1   0   8
4   6   9  11
5   6   8  14
6  13  13  14