# 运算

In [1]:
import pandas as pd
import numpy as np

## dataframe运算

In [2]:
df = pd.DataFrame(np.random.rand(4, 3), index=['a', 'b', 'c', 'd'], columns=['first', 'second', 'third'])
df

      first    second     third
a  0.869412  0.243347  0.612876
b  0.879297  0.065158  0.203642
c  0.100302  0.545677  0.574414
d  0.915185  0.642605  0.289108

In [3]:
np.exp(df) # point-wise

      first    second     third
a  2.385508  1.275512  1.845732
b  2.409206  1.067328  1.225859
c  1.105505  1.725777  1.776089
d  2.497237  1.901427  1.335236

## 列间运算

In [4]:
df['minus'] = df['first'] - df['second']
df

      first    second     third     minus
a  0.869412  0.243347  0.612876  0.626065
b  0.879297  0.065158  0.203642  0.814139
c  0.100302  0.545677  0.574414 -0.445375
d  0.915185  0.642605  0.289108  0.272580

In [5]:
df['quadratic'] = df['third'] ** 2
df

      first    second     third     minus  quadratic
a  0.869412  0.243347  0.612876  0.626065   0.375617
b  0.879297  0.065158  0.203642  0.814139   0.041470
c  0.100302  0.545677  0.574414 -0.445375   0.329951
d  0.915185  0.642605  0.289108  0.272580   0.083583

In [6]:
df.drop(columns=['minus', 'quadratic'], inplace=True) # 使用drop函数删列、行
df

      first    second     third
a  0.869412  0.243347  0.612876
b  0.879297  0.065158  0.203642
c  0.100302  0.545677  0.574414
d  0.915185  0.642605  0.289108

## replace和apply函数

In [7]:
df['third'] = 1
df.replace(1, 100, inplace=True) # 用100代替1
df

      first    second  third
a  0.869412  0.243347    100
b  0.879297  0.065158    100
c  0.100302  0.545677    100
d  0.915185  0.642605    100

In [8]:
df.apply(lambda x: x ** 0.5) # 每个元素开平方

      first    second  third
a  0.932423  0.493302   10.0
b  0.937708  0.255260   10.0
c  0.316705  0.738700   10.0
d  0.956653  0.801626   10.0

In [9]:
df.apply(np.sum, axis=1) # 统计各列的和

a    101.112759
b    100.944455
c    100.645979
d    101.557789
dtype: float64

In [10]:
a = [x for x in df.index]
a

['a', 'b', 'c', 'd']